*.log
*.sql
*.zip
php_errorlog
.DS_Store

/wp-includes/
/wp-admin/

/wp-content/index.php
/wp-content/languages
/wp-content/advanced-cache.php
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/wp-cache-config.php

/wp-content/uploads

wp-content/plugins/*
!wp-content/plugins/catalogo-ragionato/

/wp-content/themes/index.php
/wp-content/themes/twenty*/


/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

dbs
scripts
_demos/
out/
hires


/.htaccess
/sitemap.xml
/sitemap.xml.gz